In [1]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [3]:
prefix = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/"
url = f"{prefix}yellow_tripdata_2021-01.csv.gz"

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

In [5]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [4]:
df = pd.read_csv(url,dtype=dtype,parse_dates=parse_dates)

/tmp/ipykernel_2491/4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [20]:
##########################################################
### Saving df2 data in POSTGRES SQL database ny_taxi
##########################################################

engine  = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [28]:
##########
#SCHEAMA
#########

print(pd.io.sql.get_schema(df,name = 'yellow_taxi_data',con =engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [29]:
#######################################
##CREATE TABLE IF DOES NOT EXISTS
###########################################

# we just want to create an empty schema not wanting to ingest data yet, therfore we can use df2.head(n=0)
#to get the columns, and if the table with the below name exists we replaces it by using if_exists  = 'replace'
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [32]:
###################################
### Reading Data in batch sizes
#####################################
df_iter  = pd.read_csv(url, dtype=dtype, parse_dates=parse_dates,iterator=True,chunksize = 100000)


for chunk in tqdm(df_iter):
    chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')